---

version: 2
updates:
  # GitHub Action update PRs
  - package-ecosystem: "github-actions"
    directory: "/"  # The exact logic is unclear, but it recursively searches at least .github/workflows/
    schedule:
      interval: "weekly"
  # Python package update PRs
  - package-ecosystem: pip  # This will update 'pyproject.toml'
    directory: "/"
    schedule:
      interval: weekly
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
