{% extends "base.html" %}
{% load permission_tags %}

{% block page_title %}{{ project.name }}: Participants{% endblock %}
{% block h1_title %}{{ project.name }}: Participants{% endblock %}

{% block content %}

<ul class="list-group">
  {% for participant in participants %}
  <li class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h4>{{ participant.get_role_display }}: {{ participant.user.username }}</a></h4>
      <small>added {{ participant.created_at }} by {{ participant.created_by }}</small>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="my-3" role="group">
  {% can_add_participant project as add_user_permission %}
  {% if add_user_permission %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:add_user' project.id %}">Add User</a>
  {% endif %}
</div>

{% endblock %}


{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Participants</li>
{% endblock crumbs %}
