{% extends "base.html" %}
{% load permission_tags %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block h1_title %}{{ project.name }}{% endblock %}

{% block content %}

<p>
{{ project.description }}
</p>

<div class="my-3" role="group">
  {% can_add_user_to_project project as add_user_permission %}
  {% if add_user_permission %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:add_user' project.id %}">Add User</a>
  {% endif %}

  {% can_list_participants project as list_users_permission %}
  {% if list_users_permission %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:list_users' project.id %}">Users</a>
  {% endif %}
</div>

{% endblock content %}
