{% extends "base.html" %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block h1_title %}{{ project.name }}{% endblock %}

{% block content %}

{% if participant %}
<p>
Role: {{ participant.get_role_display }}
</p>
{% endif %}

<p>
{{ project.description }}
</p>

<div class="my-3" role="group">
  {% if project_role.can_list_participants %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:list_participants' project.id %}">Participants</a>
  {% endif %}
</div>

<div class="my-3" role="group">
  {% if project_role.can_add_participants %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:add_user' project.id %}">Add User</a>
  {% endif %}
</div>

{% endblock content %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
{% endblock crumbs %}
