{% extends "base.html" %}
{% load permission_tags %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block h1_title %}{{ project.name }}{% endblock %}

{% block content %}

<p>
{{ project.description }}
</p>

<div class="my-3" role="group">
  {% can_list_participants project as list_participants_permission %}
  {% if list_participants_permission %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:list_participants' project.id %}">Participants</a>
  {% endif %}
</div>

{% endblock content %}
