{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}{{ project.name }}: Add User{% endblock %}
{% block h1_title %}{{ project.name }}: Add User{% endblock %}

{% block content %}

<p>
{{ project.description }}
</p>

<div class="btn-group my-3" role="group">
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Add User</button>
  </form>
</div>

{% endblock content %}


{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
  {% if project_role.can_list_participants %}
    <li class="breadcrumb-item"><a href="{% url 'projects:list_participants' project.id %}">Participants</a></li>
  {% else %}
    <li class="breadcrumb-item">Participants</li>
  {% endif %}
  <li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock crumbs %}
