# System files
*.DS_Store
__pycache__

# All secrets folders, no matter how nested
secrets/
temp/

# Any environment configs apart from those used as examples
environment_configs/*.json

# The package dependency cache
environment_configs/package_lists/dependency-cache.json

# Python build caches
__pycache__/
.venv/
dist/

# Development tools
.vscode
.python-version
.idea
.ionide

# Virtual enviroment files
.python-version

# PDF versions of our Markdown documents
docs/*.pdf
# ... except the tiers flowchart
!docs/tiersflowchart.pdf

# Sphinx output and venv
docs/build
docs/venv

# Files produced during testing
.mustache_config.json
expanded.yaml
.coverage

# Lychee cache
.lycheecache

# mypy cache
.mypy_cache

# ruff cache
.pytest_cache

# ruff cache
.ruff_cache
