# System files
*.DS_Store

# Top-level secrets and temp folder
secrets/
temp/

# Dependency cache for package whitelisting
deployment/administration/.dependency_cache.json

# Development tools
.vscode
.python-version
.idea
.ionide

# PDF versions of our Markdown documents
docs/*.pdf
