---
os: linux
dist: bionic

language: minimal

jobs:
  include:
    - name: Lint YAML
      language: python
      python: 3.8
      before_script: pip install yamllint
      script: yamllint .
    - name: Lint JSON
      language: node_js
      node_js: node
      before_script: npm install -g jsonlint
      script: find . -name "*.json" | xargs -n 1 jsonlint --quiet --compact
    - name: Lint Python
      language: python
      python: 3.8
      before_script: pip install flake8
      script: flake8 . --statistics --count
    - name: Lint shell
      before_script: sudo apt-get install -y shellcheck
      script: find . -name "*.sh" | xargs shellcheck --format gcc --severity error
    - name: Lint PowerShell
      before_script:
        - sudo snap install powershell --classic
        - pwsh -c "Install-Module -Name PSScriptAnalyzer -Force"
      script: pwsh -c "Import-Module PSScriptAnalyzer; Invoke-ScriptAnalyzer -Path . -Settings .PSScriptAnalyzerSettings.psd1 -Recurse -EnableExit -ReportSummary"
    - name: Lint Markdown
      language: ruby
      before_script: gem install mdl
      script: mdl --style .mdlstyle.rb *.md docs/
    - name: Check for dead links in Markdown
      language: node_js
      node_js: node
      before_script: npm install -g markdown-link-check
      script: find . -name "*.md" | xargs -n 1 markdown-link-check -p -c .markdownlinkcheck.json
    - name: Lint Ansible
      language: python
      python: 3.8
      before_script: pip install ansible-lint
      script: ansible-lint
