[tool.poetry]
name = "data-safe-haven"
version = "4.0.0"
description = "An open-source framework for creating secure environments to analyse sensitive data."
authors = ["Data Safe Haven development team <safehavendevs@turing.ac.uk>"]

[tool.poetry.dependencies]
python = "^3.10"
azure-core = "^1.23.0"
azure-identity = "^1.8.0"
azure-keyvault-certificates = "^4.3.0"
azure-keyvault-keys = "^4.4.0"
azure-mgmt-containerinstance = "^9.1.0"
azure-mgmt-keyvault = "^9.3.0"
azure-mgmt-msi = {version = "6.0.0b1", allow-prereleases = true}
azure-mgmt-rdbms = "^10.1.0"
azure-mgmt-resource = "^20.1.0"
azure-mgmt-storage = "^19.1.0"
azure-storage-blob = "^12.10.0"
azure-storage-file-share = "^12.7.0"
chevron = "^0.14.0"
cleo = "^0.8.1"
dotmap = "^1.3.26"
psycopg2 = "^2.9.3"
pulumi = "^3.26.1"
pulumi-azure-native = "^1.60.0"
PyYAML = "^6.0"
websocket-client = "^1.3.2"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
pytest = "^5.2"

[tool.poetry.scripts]
dsh = "data_safe_haven.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
