# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
{
	log {
		format console {
			level_format upper
		}
		level DEBUG
	}
}

:80 {
	rewrite / /guacamole
	reverse_proxy http://localhost:8080
}
