---

version: "3.0"

services:
  database:
    image: postgres:{{ postgres_version }}
    container_name: postgres
    environment:
      - POSTGRES_DB={{ guac_db_name }}
      - POSTGRES_USER={{ guac_db_user }}
      - POSTGRES_PASSWORD={{ guac_db_password }}
    volumes:
      - {{ postgres_volume }}:/var/lib/postgresql/data
      - {{ init_db_file }}:/docker-entrypoint-initdb.d/init.sql
    restart: always
  guacd:
    image: guacamole/guacd:{{ guac_version }}
    container_name: guacd
    restart: always
  guacamole:
    image: guacamole/guacamole:{{ guac_version }}
    container_name: guacamole
    environment:
      - GUACD_HOSTNAME=guacd
      - POSTGRES_HOSTNAME=database
      - POSTGRES_DATABASE={{ guac_db_name }}
      - POSTGRES_USER={{ guac_db_user }}
      - POSTGRES_PASSWORD={{ guac_db_password }}
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.guacamole.rule=Host(`{{ guacamole_domain }}`)"
      - "traefik.http.routers.guacamole.tls=true"
      - "traefik.http.middlewares.add-guacamole.addprefix.prefix=/guacamole"
  reverse_proxy:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
