[Unit]
Description=ClamAV on access scanning daemon
Requires=clamav-daemon.service
After=clamav-daemon.service syslog.target network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/bash -c "while [ ! -S /tmp/clamd.socket ]; do sleep 1; done"
ExecStart=/usr/sbin/clamonacc --foreground=true
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
