[Unit]
Description=ClamAV full system scan
Requires=clamav-daemon.service
After=clamav-daemon.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/clamdscan --fdpass --multiscan /
