---
name: Update Python dependencies

# Run workflow on pushes to matching branches
on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 3 * * 1"  # run at 3:00 every Monday
  workflow_dispatch:  # allow this workflow to be manually triggered


jobs:
  update_python_dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: pip install hatch pip-tools

      - name: Update 'default' dependencies
        run: .github/scripts/update_python_dependencies.sh default requirements.txt

      - name: Update 'docs' dependencies
        run: .github/scripts/update_python_dependencies.sh docs docs/requirements.txt

      - name: Check for changes
        shell: bash
        run: git --no-pager diff -- .

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Create pull request
        if: ${{ ! env.ACT }}
        id: pull-request
        uses: peter-evans/create-pull-request@v6.0.5
        with:
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          base: develop
          body: |
            :warning: In order for CI to run on this PR it needs to be manually closed and re-opened :warning:

            ### :arrow_heading_up: Summary
            - Update Python dependencies from ${{ github.sha }} on ${{ steps.date.outputs.date }}

            ### :closed_umbrella: Related issues
            None

            ### :microscope: Tests
            Package versions only
          branch: python-dependencies
          commit-message: ":arrow_up: Update Python dependencies"
          committer: GitHub Actions <noreply@github.com>
          delete-branch: true
          draft: false
          labels: |
            affected: developers
            severity: minor
            type: enhancement
          title: ":arrow_up: Update Python dependencies"
