---
name: Update package versions

# Run workflow on pushes to matching branches
on:  # yamllint disable-line rule:truthy
  push:
    branches: [develop]
  schedule:
    - cron: "0 0 */7 * *"  # run once per week
  workflow_dispatch:  # allow this workflow to be manually triggered

# checkout needs 'contents:read'
# pull request needs 'pull-requests:write' and 'contents:write'
permissions:
  contents: write
  pull-requests: write

jobs:
  update_package_versions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python packages
        run: |
          pip install --upgrade pip
          pip install -r .github/scripts/requirements.txt

      - name: Update Azure Data Studio version
        run: |
          python .github/scripts/update_azure_data_studio.py

      - name: Update RStudio version
        run: |
          python .github/scripts/update_rstudio.py

      - name: Update DBeaver driver versions
        run: |
          python .github/scripts/update_dbeaver_drivers.py

      - name: Check for changes
        shell: bash
        run: git --no-pager diff -- .

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create pull request
        if: ${{ ! env.ACT }}
        id: pull-request
        uses: peter-evans/create-pull-request@c55203cfde3e5c11a452d352b4393e68b85b4533  # This commit corresponds to tag 6.0.3
        with:
          commit-message: Update SRD package versions
          committer: GitHub Actions <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          base: develop
          branch: srd-package-versions
          delete-branch: true
          title: Update SRD package versions
          body: |
            ### :arrow_heading_up: Summary
            - Apply package version diff from ${{ github.sha }} on ${{ steps.date.outputs.date }}

            ### :closed_umbrella: Related issues
            None

            ### :microscope: Tests
            Package versions only
          labels: |
            affected: developers
            severity: minor
            type: enhancement
          draft: false
